body{
    background-color: hsl(209, 30%, 80%);
}

section{
    height: 50vh;
}

.sideBarClose{
position: absolute;
z-index: 1;
cursor: pointer;
top: 10px;
right: 10px;
color:#fff;

}
.sidebar.active{
    left: 0;
}
.sidebar{
    height: 100vh;
    width: 300px;
    background: #000;
    position: fixed;
    top: 0;
    left: -350px;
    z-index: 2;
    transition: all .4s ease-in-out;
}
.sidebar.active{
    left: 0;
}


.navbar a{
    display: flex;
    color: #fff;
    display: inline-block;

}

img{
    height: 42vh;
    width: 140vh;
    object-fit: cover;
}




























/* body{
    background-color: #ededed;
}

.section{
    height: 50vh;
}

.sideBarOpen{
    position: fixed;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 1;
}

.sideBarClose{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
}

.sidebar{
    height: 100vh;
    width: 300px;
    background: #000;
    position: fixed;
    top: 0;
    left: -350px;
    z-index: 2;
    transition: all .4s ease-in-out;
}

.sidebar.active{
    left: 0;


} */